<a href="<%= local_assigns[:link] %>" class="link-wrapper">
  <div class="media-object-1">
    <div class="media-icon">
      <%= image_tag "mtn-icon" %>
    </div>
    <div class="media-description">
      <%= local_assigns[:title] %>
    </div>
  </div>
</a>
