<div class="clearfix">
  <% course.lessons.published.each_with_index do |l, index| %>
    <%= render partial: "shared/lessons/lesson_block", locals: { course: course, lesson: l, index: index + 1 }%>
  <% end %>
</div>
