<div class="nested-fields">
  <div class="js-form-upload">
    <%= f.label :url, "Video URL" %>
    <%= f.text_field :url, class: "margin-bottom" %>
  </div>

  <div class="extra-margin-bottom">
    <%= link_to_remove_association "Remove Course Video", f %>
  </div>
</div>
