<div class="container">
  <div class="admin-bar">
  <%= link_to "Manage Categories", "#", class:"btn btn-sm btn-blue" %>
  </div>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Section</th>
        <th>See All</th>
        <th>Create New</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Other Pages</td>
        <td>
          <%= link_to "Pages Dashboard", admin_pages_path, class:"btn btn-blue btn-sm" %>
        </td>
        <td>
          <%= link_to "Add New Page", new_admin_page_path, class:"btn btn-blue btn-sm" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
