<div class="clearfix">
  <% course_material.course_material_files.each do |f| %>
    <%= link_to course_material_course_materials_file_path(@course_material, f), target: "_blank" do %>
      <div class="course-material-file-widget">
        <div class="file-icon"><%= svg_tag "icon-download", class: "svg-icon-large white" %></div>
        <div class="file-type"><%= f.file.filename.to_s.truncate(14) %></div>
        <div class="file-name"><%= mime_type_conversion(f.file_content_type) %></div>
      </div>
    <% end %>
  <% end %>
</div>
