<% @course_materials.each do |c| %>
<a class="course-widget" href="<%= course_material_path(c) %>">
  <header>
    <h3><%= c.title.truncate(45) %></h3>
  </header>
  <div class="description">
    <p><%= c.summary.truncate(80) %></p>
  </div>
</a>
<% end %>
