<div>
  <% course_material.course_material_medias.each do |f| %>
    <div class="course-material-media-widget">
      <%= image_tag f.media.url, class: "media-image" %>
      <div class="media-title note"><%= f.media_file_name %></div>
    </div>
  <% end %>
</div>
<div class="extra-margin-bottom clearfix"></div>
