<div class="info-widget">
  <header>
    <h2>Courses: Tracks & Classes</h2>
  </header>
  <div class="content">
    <div class="row">
      <div class="two columns">
      &nbsp;
      </div>

      <div class="eight columns">
        <% if @categories.empty? %>
          <p>Training materials coming soon</p>
        <% else %>
          <% @categories.group_by(&:tag).each do |tag, categories| %>
            <%= render "shared/courses/category", { title: tag, categories: categories } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>