$white: #FFF;
$light-grey: #EEE;
$medium-grey: #DDD;
$grey: #797677;
$dark-grey: #666;
$black: #000;
$teal: #548687;

$cpl-blue: #2D63AF;
$purple: #5c4b9c;
$purple-2: #5c4b9c;
$red: #F0502C;
$orange: #fA8C28;

$form-error-color: #CC0528;

$error-font-color: #C94235;
$error-border-color: #DB8A83;
$error-color: #f5DDDB;

$notice-font-color: #444;
$notice-border-color: #9DBC89;
$notice-color: #E3ECDC;

$glow-blue: #009FDB;

// $font-primary: "Open Sans", sans-serif;
$font-primary: sans-serif;
$font-secondary: "Roboto", sans-serif;

$mobile: 500px;
$mobile-large: 700px;
$medium: 900px;
$mobile-xlarge: 830px;
$tablet: 1044px;
$desktop: 1044px;
