$white: #FFF;
$light-grey: #EEE;
$medium-grey: #DDD;
$grey: #797677;
$dark-grey: #666;
$black: #000;
$teal: #56445D;

$cpl-blue: #2D63AF;
$purple: #548687;
$purple-2: #548687;
$red: #F0502C;
$orange: #fA8C28;

$form-error-color: #CC0528;

$error-font-color: #C94235;
$error-border-color: #DB8A83;
$error-color: #f5DDDB;

$notice-font-color: #444;
$notice-border-color: #9DBC89;
$notice-color: #E3ECDC;

// $font-primary: "Open Sans", sans-serif;
$font-primary: sans-serif;
$font-secondary: "Roboto", sans-serif;

$mobile: new-breakpoint(max-width 500px 12);
$mobile-large: new-breakpoint(max-width 700px 12);
$mobile-xlarge: new-breakpoint(max-width 830px 12);
$tablet: new-breakpoint(max-width 1044px 12);
$desktop: new-breakpoint(min-width 1044px 12);
