<header class="header-logged-out" >
  <div class="container">
    <div class="language-links">
      English
    </div>
    <div class="logo-link-container">
      <div class="html5-link">
        <%= link_to root_url, class: 'logo-link' do %>
          <div class="link-box">
            <%= image_tag "dl_logo" %>
          </div>
        <% end %>
      </div>
      <div class="signup-box">
        Help Learners
      </div>
      <div class="search-box">
        &nbsp;
      </div>
    </div>
  </div>
</header>
