<div class="clearfix">
  <h3><%= title %></h3>
  <% categories.each_with_index do |category, index| %>
    <% if (index % 2 == 0) %>
    <div class="row extra-margin-bottom">
    <% end %>
      <div class="six columns">
        <%= render "components/media_object", title: category.title, link: category_path(category.friendly_id), icon: "icon-files" %>
      </div>
    <% if (index % 2 == 1 || categories.length == index + 1) %>
    </div>
    <% end %>
  <% end %>
</div>
