<div class="language-links">
  <% if hide_language_links? %>
    &nbsp;
  <% else %>
    <%= link_to "English", home_language_toggle_path(lang: "en"), class: current_language == 'en' ? 'active' : '' %> |
    <%= link_to "Espa&ntilde;ol".html_safe, home_language_toggle_path(lang: "es"), class: current_language == 'es' ? 'active' : '' %>
  <% end %>
</div>
