<section class="clearfix" id="contribute">
  <h2>Contribute to DigitalLearn</h2>

  <% title = "Share your materials, ask questions, or make suggestions" %>
  <% description = "Do you have great training materials? Ideas for DigitalLearn's modules? Contact Public Library Association." %>
  <%= render partial: "shared/content_widget", locals: { destination: "/pages/contribute-to-digitallearn", title: title, description: description } %>
</section>