<% @categories.each do |category| %>
  <h3><%= category.title %></h3>
  <% category.sub_categories.each_with_index do |sub_category, index| %>
    <% if (index % 2 == 0) %>
    <div class="row extra-margin-bottom">
    <% end %>
      <div class="six columns">
        <%= render "components/media_object_1", title: sub_category.title, link: category_path(sub_category), icon: "icon-files" %>
      </div>
    <% if (index % 2 == 1) %>
    </div>
    <% end %>
  <% end %>
<% end %>
