<section class="clearfix">
  <h2>How to Use These Resources</h2>
  <p>Welcome! This site contains all the elements you will need to facilitate a DigitalLearn module or design your own!<p>
  <p>These resources are free for you to use and modify as you see fit.</p>
  <p>Spanish materials are also available. Click on "Course Materials in Spanish" link at the top right of the page.</p>
</section>