<section id="instructional-design-training">
  <h2>Instructional Design Training</h2>

  <div class="course-widget-grid">
    <% @courses.each do |course| %>
      <%= render partial: "shared/content_widget", locals: { destination: course_path(course), title: course.title, description: course.summary, new_course: course.new_course } %>
    <% end %>
  </div>
</section>