<section class="clearfix" id="instructional-design-training">
  <h2>Instructional Design Training</h2>

  <% @courses.each do |course| %>
    <%= render partial: "shared/content_widget", locals: { destination: course_path(course), title: course.title, description: course.summary } %>
  <% end %>
</section>