<div class="row extra-margin-bottom">
  <div class="six columns">
    <h3>Featured Module</h3>
    <%= render "components/media_object_1", title: "Designing Online Content", link: "#" %>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.
    </p>
  </div>
  <div class="six columns">
    <h3>Latest Modules</h3>
    <ul>
      <li><%= link_to "Lorem Ipsum Link 1", "#" %><li>
      <li><%= link_to "Lorem Ipsum Link 2", "#" %><li>
      <li><%= link_to "All Training Modules >", "#" %><li>
    </ul>
  </div>
</div>
