<div class="row">
  <div class="six columns">
    <div class="info-widget">
      <header>
        <h2>Stay Connected</h2>
      </header>
      <div class="content">
        <%= render "newsletter_signup_form" %>
      </div>
    </div>
  </div>
</div>
