<div class="extra-margin-bottom">
  <p>
    Welcome to the Public Library Association's Tech Skills Checklist!
    The skill sets listed in the checklist represent the proficiencies that are most commonly
    called upon in public libraries based on consultations with library workers in public libraries of all sizes.
    Becoming familiar with each of these areas is critical to providing great experiences for library patrons,
    and getting comfortable with these skills can improve your day-to-day experience in the workplace.
    This tool can be used as a self-assessment or can be done with a supervisor.
    Each skill set is paired with online learning resources, so if you discover an area wherein
    you have some room to improve, you can take action, for free, as your time allows.
    Questions or feedback about this tool? Contact us at <a href="mailto:support@digitallearn.org?subject=DigitalLearnTraining">support@digitallearn.org</a>.
  </p>
  <p>
    *This checklist is an evolving project that will undergo changes throughout 2020.
  </p>
  <%= render "components/media_object_1", title: "Download Tech Skills Checklist", link: "tech-skills-checklist-survey-only.pdf", download_filename: "tech-skills-checklist.pdf" %>
</div>