<div class="container">
  <a class="course-widget" href="/courses/why-use-a-computer">
    <header>
      <h3>Why Use a Computer?</h3>
    </header>
    <div class="description">
      <p>Reasons why you should take the time to learn about computers.</p>
      <div class="percent-complete"></div>
      <div class="duration">
        <i class="icon-clock grey"></i>15 mins
      </div>
    </div>
  </a>
</div>
