<div class="nested-fields">
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset>

  <fieldset class="extra-margin-bottom">
    <%= link_to_remove_association "Remove Subcategory", f %>
  </fieldset>
</div>
