<%= content_for(:callout) { %><h1>Course Category Index</h1><% } %>

<div class="row extra-margin-bottom">
  <%= link_to "Add a New Course Category", new_admin_category_path, class: "btn" %>
</div>

<div class="extra-margin-bottom">
  <div class="list-titles">
    <div class="cell">Course Category</div>
  </div>
  <% if @categories.present? %>
    <ul class="objects">
      <% @categories.each do |course| %>
        <li>
          <div class="cell"><%= link_to course.title, edit_admin_category_path(course), class: "no_drag_link" %></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no available course categories.</p>
  <% end %>
</div>
