nav.secondary-links {
  padding-bottom: 1em;
  font-size: 13px;

  a {
    color: $purple;
    display: inline-block;

    @media (max-width: $mobile-xlarge) {
      font-size: 0.9rem;
    }
  }
}

nav.home-links {
  @media (max-width: $mobile-xlarge) {
    margin-top: 20px;
  }

  .home-link-row {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

    .nav-link:not(:last-child) {
      padding-right: 6px;
      border-right: 2px solid $purple;
    }
  }

  &.non-flex-links {
    text-align: right;
    
    .divider {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }

    a.active {
      border-bottom: 2px solid $purple;
    }

    a:hover {
      text-decoration: none;
      border-bottom: 2px solid $purple;
    }
  }
}

.header-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  justify-items: center;
}

.logo {
  @media (max-width: $mobile-xlarge) {
    text-align: center;
  }

  img {
    max-width: 350px;
    max-height: 120px;
    margin: 0.2em;

    @media (max-width: $mobile-large) {
      height: 70px;
    }
  }
}