<%= content_for(:callout) { %><h1>Available Courses</h1><% } %>

<% if @courses.present? %>
  <%= render partial: "shared/courses/listing" %>
<% else %>
  <p>There are currently no available courses.</p>
<% end %>
