.course-widget-grid {
  display: flex;
  flex-wrap: wrap;
}

.course-widget {
  display: block;
  min-width: 330px;
  max-width: 330px;
  border: 1px solid $medium-grey;
  margin-bottom: 2em;
  margin-right: .75em;
  min-height: 175px;
  overflow: hidden;
  border-top-left-radius: 20px;

  @media (max-width: $tablet) {
    margin-right: 2em;
  }

  &.new-course {
    border: 3px solid $glow-blue;

    &:hover {
      box-shadow: 0 0 10px 2px $glow-blue; 
    }
  }

  header {
    height: 75px;
    overflow: hidden;
    border-top-left-radius: 16px;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1.4em;
    font-weight: 300;
    margin: 0em 0.5em;
    padding: .4em .5em .5em .25em;
    height: 45px;
    text-align: left;
    line-height: 1.2em;
  }

  p {
    color: $grey;
    margin: 0;
    font-weight: 300;
  }
  
  .summary {
    flex-grow: 1;
  }

  .percent-complete {
    color: $grey;
  }

  .description {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $white;
    height: 8.5rem;
    margin: 0.75em 1em 0;
  }

  .duration {
    color: $grey;
    font-weight: 400;
  }

  .attribution {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    color: $glow-blue;
  }

  &.completed header {
    background: linear-gradient(to bottom, $grey 0%, $dark-grey 100%);
  }

  &.retake-quiz header {
    background: linear-gradient(to bottom, $purple 0%, $purple 100%);
  }

  &.retake-quiz button {
    float: right;
  }

}

a.course-widget {
  text-decoration: none;

  header {
    background: $purple;
    background: linear-gradient(to bottom, $purple 0%, $purple-2 100%);
  }

  &:hover {
    box-shadow: 0 0 10px $grey;
  }
}

div.course-widget {
  header {
    background-color: $light-grey;
    background: linear-gradient(to bottom, $light-grey 0%, $medium-grey 100%);
  }
}
