.course-material-file-widget {
  height: 222px;
  width: 222px;
  background-color: $teal;
  color: $white;
  margin-bottom: 2em;
  margin-right: 1.9em;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  float: left;
  text-align: center;

  .file-icon {
    margin-bottom: 1.3rem;
  }

  .file-type {
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }

  .file-name {

  }

}
