.email-media-object {
   position: relative;
   height: 80px;

   .icon {
     position: absolute;
   }

   .content {
     position: absolute;
     margin-left: 130px;

     .line-1 {
       color: $black;
       margin-bottom: 0;
     }

     .line-2 {
       font-size: 1.5rem;
     }
   }
}
