.media-object-1 {

  .media-icon {
    display: inline-block;
    img {
      width: 50px;
    }
  }

  .media-description {
    color: $purple;
    display: inline-block;
    position: relative;
    top: -15px;
    left: 15px;
  }

}
