.media-object-1 {
  line-height: 1.5rem;

  .media-icon {
    display: inline-block;
    img {
      width: 50px;
    }
  }

  .media-title {
    color: $purple;
    position: relative;
    top: -45px;
    left: 55px;
    max-width: 80%;
    &.title-only {
      top: -35px;
    }
  }

  .media-summary {
    color: $grey;
    position: relative;
    top: -40px;
    left: 55px;
    max-width: 80%;
  }

}
