<ul class="sidebar-links unmarked">
  <li><%= link_to "CMS Pages", admin_pages_path %></li>
  <li><%= link_to "Courses", "#" %></li>
</ul>
<hr />
<ul class="sidebar-links unmarked">
  <li><%= link_to "Change Login Information", "#" %></li>
  <li><%= link_to "Update Profile", "#" %></li>
</ul>
