<%# TODO: make method for this %>
<% if user_signed_in? && current_user.admin? %>
  <%= content_for(:callout) { %><h1>TODO: what here?</h1><% } %>
  <h2>
    Edit a course by clicking on a course below, search courses or navigate to the
    <%= link_to "Admin Dashboard", admin_root_path %>.
  </h2>
<% else %>
  <%= content_for(:callout) { %><h1>TODO: what here?</h1><% } %>
<% end %>
