<footer class="footer-primary">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <ul class="cms_nav unmarked">
          <h3>Learn More</h3>
          <li><a href="#">Privacy Policy | Terms</a></li>
          <li><a href="#">About DigitalLearn.org</a></li>
          <li><a href="#">Bibliography</a></li>
        </ul>
      </div>
      <div class="three columns">
        <ul class="cms_nav footer-box unmarked">
          <li><%= mail_to "support@digitallearn.org", "Contact Us", subject: "Contact from DigitalLearn Training site" %></li>
        </ul>
      </div>
      <div class="three columns footer-box license">
        This work is licensed under a Creative Commons Attribution Sharealike 3.0 Unported License.
      </div>
      <div class="three columns footer-box">
        <%= render "logo_footer" %>
      </div>
    </div>
  </div>
</footer>
