<header class="site-header">
  <%= render "shared/layout/site_switcher" %>
  <div class="content">
    <%= link_to root_path, class: "logo-link" do %>
      <div class="logo">
        <div class="logo-icon">
          <%= image_tag "dl_logo.png" %>
        </div>
      </div>
    <% end %>
    <% if current_user.present? %>
      <%# log_out link %>
    <% else %>
      <%# log in link %>
    <% end %>
  </div>
</header>
