<div class="logo">
  <div class="logo-icon">
    <div class="align-right">
      <%= link_to "http://www.ala.org/pla/", target: "_blank" do %>
        <%= image_tag "pla_logo_white.png", class: "link-pla" %>
      <% end %>
    </div>
  </div>
</div>
