<footer class="footer-primary">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <ul class="cms_nav footer-box unmarked">
          <li><%= mail_to contact_email, "Contact Us", subject: "Contact from DigitalLearn Training site" %></li>
        </ul>
      </div>
      <div class="four columns footer-box license">
        This work is licensed under a Creative Commons Attribution Sharealike 3.0 Unported License.
      </div>
      <div class="four columns footer-box">
        <%= render "att/logo_footer" %>
      </div>
    </div>
  </div>
</footer>
