<div class="logo">
  <div class="logo-icon">
    <div class="align-right">
      <%= link_to "http://www.ala.org/pla/", target: "_blank" do %>
        <%= image_tag "att_footer_logo.png", class: "footer-logo-link" %>
      <% end %>
    </div>
  </div>
</div>
